.card {
    display: flex;
    height: auto;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    background: rgb(95, 180, 141);
    background: linear-gradient(200deg, rgb(80, 136, 73) 30%, rgb(148, 194, 147) 100%);
}

.image-name {
    margin: 5px;
    width: 6.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.image {
    height: 50px;
    transform: scale(1.2);
    border-radius: 50%;
}

.content {
    width: 480px;
    padding: 10px;
}

.text { 
    text-align: left;
}

/*
--------------RESPONSIVIDADE-----------------
*/


@media (max-width: 660px) {
    .card {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
    }
    .text {
        width: 50px;
    }
    .image-name {
        width: 250px;
    }
}